@{
    ViewData["Title"] = "Tempat Pengelolaan Sampah Terpadu Bantargebang";
    ViewBag.Menu = "Pengelolaan Sampah";
    ViewBag.SubMenu = "TPST Bantargebang";
    ViewBag.SubMenuNd = "TPSTRingkasan";
}

<main class="container w-blog pb-5" style="padding-top: 120px">
    <section>
        <h1 class="fw-bold text-center title-page">@ViewData["Title"]</h1>
    </section>
    <section class="content px-2 px-lg-3 py-5">
        <div class="row justify-content-center">
            <div class="col">
                <!-- Isi Content-->
                <p>
                    Lokasi : Kelurahan Ciketing Udik, Kelurahan Cikiwul dan Kelurahan Sumur Batu, Kecamatan Bantargebang Kota Bekasi
                    Luas Area : 110,3 Ha terdiri dari : Luas efektif TPST 81,91 % dan sisanya 18,09% untuk prasarana seperti Jalan masuk, Jalan Kantor dan Instalasi Pengolahan Lindi. Status Tanah : Milik Pemerintah Provinsi DKI Jakarta
                </p>
                <p>
                    Mulai Beroperasi : Tahun 1989 oleh BKLH Provinsi DKI Jakarta dan BKL Provinsi Jawa Barat yang kemudian direvisi dengan surat persetujuan kelayakan lingkungan AMDAL, RKL dan RPL No. 660.1/206.BPLH. AMDAL/III/2010 tanggal 11 Maret 2010
                    Volume Sampah : Rata-rata 6.500 ton – 7.000 ton/hari
                </p>

                <table class="table table-striped w-50 responsive caption-top">
                    <caption class="fs-5 fw-medium">Luas Zona Lahan Urug Saniter</caption>
                    <thead class="table-dark">
                        <tr>
                            <th>Zona</th>
                            <th>Luas(Ha)</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                        </tr>
                        <tr>
                            <td>Zona I</td>
                            <td>18,3</td>
                        </tr>
                        <tr>
                            <td>Zona II</td>
                            <td>17,7</td>
                        </tr>
                        <tr>
                            <td>Zona III</td>
                            <td>25,41</td>
                        </tr>
                        <tr>
                            <td>Zona IV</td>
                            <td>11,0</td>
                        </tr>
                        <tr>
                            <td>Zona V</td>
                            <td>9,5</td>
                        </tr>
                        <tr>
                            <td>Luas Zona yang ada</td>
                            <td>81,91</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><b>Total Luas TPST Bantargebang</b></td>
                            <td><b>110,3</b></td>
                        </tr>
                    </tfoot>
                </table>


                <h4 class="mt-5">Apa yang kami kerjakan di TPST Bantargebang</h4>
                <ul>
                    <li>
                        <span class="fw-semibold">Sistem Pengolahan Sampah</span>
                        <img data-lazy="/assets/img/pengolah-sampah/tpst/tpst-sistem-pengolahan-sampah.jpg" class="lazy w-100 mt-3 rounded-lg" alt="Sistem Pengolahan Sampah" />
                    </li>
                    <li class ="mt-5">
                        
                        <span class="fw-semibold">Sistem Penimbangan Sampah Online</span>
                        <p>Unit Pengelola Sampah Terpadu (UPST) Dinas Lingkungan Hidup Provinsi DKI Jakarta sebagai pelaksana pekerjaan monitoring dan penimbangan sampah di TPST Bantargebang, menggunakan penimbangan masuk dan keluar secara digital dengan sensor loadcell dan didukung dengan aplikasi web-based yang dapat diakses secara online oleh pihak yang berkepentingan.</p>
                        <img data-lazy="/assets/img/pengolah-sampah/tpst/tpst-sistem-penimbangan-pampah-online.jpg" class="lazy w-100 mt-3 rounded-lg" alt="Sistem Penimbangan Sampah Online" />
                    </li>
                    <li class="mt-5">
                        <span class="fw-semibold">Komposting</span>
                        <img data-lazy="/assets/img/pengolah-sampah/tpst/tpst-komposting.jpg" class="lazy w-100 mt-3 rounded-lg" alt="Komposting" />
                    </li>
                    <li class="mt-5">
                        <span class="fw-semibold">Pembangkit Listrik Tenaga Sampah (Power House)</span>
                        <img data-lazy="/assets/img/pengolah-sampah/tpst/tpst-pltsa.jpg" class="lazy w-100 mt-3 rounded-lg" alt="Pembangkit Listrik Tenaga Sampah (Power House)" />
                    </li>
                    <li class="mt-5">
                        <span class="fw-semibold">Instalasi Pengolahan Air Sampah</span>
                        <img data-lazy="/assets/img/pengolah-sampah/tpst/tpst-ipas.jpg" class="lazy w-100 mt-3 rounded-lg" alt="Instalasi Pengolahan Air Sampah" />
                    </li>
                    <li class="mt-5">
                        <span class="fw-semibold">Pencucian Kendaraan Angkutan Sampah</span>
                        <p>Pencucian kendaraan pengangkut sampah bertujuan agar seluruh kendaran pengangkut sampah milik Dinas Provinsi DKI Jakarta menjadi bersih dari sisa pembuangan sampah serta tidak menimbulkan aroma dan bau yang tidak sedap. a2-02</p>
                        <img data-lazy="/assets/img/pengolah-sampah/tpst/tpst-pencucian-kendaraan-angkutan-sampah.jpg" class="lazy w-100 mt-3 rounded-lg" alt="Pencucian Kendaraan Angkutan Sampah" />
                    </li>
                    <li class="mt-5">
                        <span class="fw-semibold">Penghijauan</span>
                        <p>Tanaman yang digunakan untuk ruang terbuka hijau bukan merupakan tanaman pangan. Perencanaan revegetasi dan buffer area (green boundary) harus dilakukan dengan penyiapan lapisan tanah dan perbaikan kualitas dan atau penyediaan kualitas tanah yang baik dengan cara penambahan nutrisi, menjaga suhu tanah dan menjaga kelembaban kadar air dengan menyiramnya saat kering.</p>
                        <p>Untuk mengurangi bau sampah dapat dipilih jenis pohon dengan kriteria pohon yang beraroma dan bermanfaat mengurangi polusi udara. Pada jalur menuju lokasi TPA digunakan jenis pohon pengarah. Karena pepohonan tersebut selain berfungsi sebagai pengarah dan fungsi keindahan, maka pepohonan tersebut mampu menyerap polusi dan pepohonan tersebut juga berfungsi untuk mendukung keindahan lingkungan. Tanaman jenis perdu yang beraroma juga dapat digunakan dimana bau harum tanaman tersebut akan mampu mereduksi bau sampah di lingkungan TPST Bantargebang. Revegetasi pada TPST Bantargebang diharapkan dapat berfungsi untuk mereduksi polusi udara, menjaga kestabilan sampah/tanah urugan landfill dan keindahan.</p>
                    </li>
                    <li class="mt-5">
                        <span class="fw-semibold">Fasilitas Alat Berat Pendukung</span>
                        <table class="table table-borderless w-75 responsive">
                            <tbody>
                                <tr class="borderless">
                                    <td>Excavator Standar</td>
                                    <td>:</td>
                                    <td>63 Unit</td>
                                </tr>
                                <tr class="borderless">
                                    <td>Excavator Long Arm</td>
                                    <td>:</td>
                                    <td>4 Unit</td>
                                </tr>
                                <tr class="borderless">
                                    <td>Bulldozer</td>
                                    <td>:</td>
                                    <td>26 Unit</td>
                                </tr>
                                <tr class="borderless">
                                    <td>Wheel Loader</td>
                                    <td>:</td>
                                    <td>10 Unit</td>
                                </tr>
                                <tr class="borderless">
                                    <td>Refuse Compactor</td>
                                    <td>:</td>
                                    <td>5 Unit</td>
                                </tr>
                                <tr class="borderless">
                                    <td colspan="2"><b>Total</b></td>
                                    <td><b>108 Unit</b></td>

                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>

                <h4 class="mt-5">TPST Bantargebang Masa Depan</h4>
                <img data-lazy="/assets/img/pengolah-sampah/tpst/tpst-masa-depan.jpg" class="lazy w-50 responsive mt-3 rounded-lg" alt="TPST Bantargebang Masa Depan" />

            </div>
        </div>
    </section>
</main>




@section scripts{
    <script>

        // Navbar solid when scroll down
        document.querySelector("nav").classList.add("bg-white");
        document.querySelector("ul.navbar-nav").classList.remove("nav-text-white");

        // Navbar solid when scroll down
        window.addEventListener("scroll", () => {
            if (window.scrollY > 80) {
                document.querySelector("nav").classList.add("shadow");
            } else {
                document.querySelector("nav").classList.remove("shadow");
            }
        });
    </script>
}