@{
    ViewData["Title"] = "FAQ - PKM";
    ViewBag.Menu = "Pengelolaan Sampah";
    ViewBag.SubMenu = "Pengelolaan Sampah Kawasan";
    ViewBag.SubMenuNd = "PKMFAQ";
}

<main class="container w-blog pb-5" style="padding-top: 120px">
    <section>
        <h1 class="fw-bold text-center title-page">@ViewData["Title"]</h1>
    </section>
    <section class="content px-2 px-lg-3 py-5">
        <div class="row justify-content-center">
            <div class="col">
                <p>Temukan jawaban dari hal-hal yang paling sering ditanyakan mengenai Pengelolaan Sampah TPST Bantargebang. Jika tidak menemukan jawaban yang Anda cari, silakan langsung menghubungi kami di:</p>
                <p>Jl. Mandala V No. 67 Jl. Cililitan Besar, Cililitan – Jakarta Timur</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15864.060166990696!2d106.8709405!3d-6.2617484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f322c223a8fd%3A0xa17bd1894dfbca3c!2sDinas%20Lingkungan%20Hidup%20Provinsi%20DKI%20Jakarta!5e0!3m2!1sen!2sid!4v1678070131095!5m2!1sen!2sid" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded-lg"></iframe>
                <p class="mt-3">Telepon/fax: <a href="tel:+622180876542">+622180876542</a>, Email: <a href="mailto:uptpst@jakarta.go.id">uptpst@jakarta.go.id</a></p>
                <ul class="d-flex justify-content-center gap-4 list-unstyled">
                    <li>
                        <a href="https://www.instagram.com/upst.dlh/" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/UPSTDinasLH" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/UPST_DLH" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCJdhhKZejU6CnBa1l33DHpw" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                                <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>

                <!-- Accordion FAQ -->
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                1. Apakah yang dimaksud dengan pengelolaan sampah kawasan secara mandiri?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Pengelolaan sampah kawasan secara mandiri diamanatkan dalam Peraturan Daerah Provinsi Daerah Khusus Ibukota Jakarta Nomor 3 Tahun 2013 tentang Pengelolaan Sampah pasal 12 ayat (2) Penanggung jawab dan/atau pengelola kawasan permukiman, kawasan komersial, kawasan industri, kawasan khusus, fasilitas umum, fasilitas sosial, fasilitas lainnya dan kegiatan keramaian sesaat, wajib melaksanakan pengelolaan sampah. Instruksi Gubernur Provinsi Daerah Khusus Ibukota Jakarta Nomor 8 Tahun 2016 tentang Penerapan Pengelolaan Sampah Kawasan Secara Mandiri, dan Keputusan Kepala Dinas Kebersihan Provinsi Daerah Khusus Ibukota Jakarta Nomor 117 Tahun 2016 tentang Pelaksanaan Pengelolaan Sampah Pada Kawasan Secara Mandiri.</p>
                                <p class="fw-semibold">Pengelolaan sampah kawasan secara mandiri mengutamakan prinsip bahwa pengelolaan sampah harus selesai terkelola di sumber sampah.</p>
                                <p>Kriteria kawasan dan yang termasuk dalam pengelolaan sampah secara mandiri adalah sebagai berikut:</p>
                                <ol type="a">
                                    <li>
                                        Kawasan Berpengelola adalah kawasan yang memiliki pengelola atau penanggungjawab kegiatan dan/atau usaha yang bersifat tetap dan mempunyai struktur organisasi, yaitu :
                                        <ol type="1" class="mt-2">
                                            <li>Kawasan permukiman antara lain apartemen/klaster, kondominium, asrama, real estate, town house, dan sejenisnya.</li>
                                            <li>Kawasan komersial adalah kawasan tempat pemusatan kegiatan usaha perdagangan dan/atau jasa yang dilengkapi sarana dan prasarana penunjang antara lain mall/supermall/plaza, kawasan bisnis terpadu (Central Business District (CBD)), pasar swalayan, hypermarket, toko serba ada (department store), pasar, gedung perkantoran, hotel dan sejenisnya.</li>
                                            <li>Kawasan industri dan pergudangan adalah kawasan tempat pemusatan kegiatan industri yang dilengkapi dengan prasarana dan sarana penunjang yang dikembangkan dan dikelola oleh perusahaan kawasan industri yang telah memiliki izin usaha kawasan industri.</li>
                                            <li>Kawasan khusus merupakan wilayah yang bersifat khusus yang digunakan untuk kepentingan nasional/berskala nasional, misalnya, kawasan cagar budaya, bumi perkemahan, taman nasional, pengembangan industri strategis, dan pengembangan teknologi tinggi.</li>
                                            <li>Fasilitas yang memiliki kemampuan untuk mengelola sampah secara mandiri yang dikelola Badan Hukum/Badan Usaha milik negara maupun milik daerah dan swasta antara lain Rumah Sakit, Sekolah/Kawasan Pendidikan/Kampus, Kawasan Pariwisata, Pusat Kegiatan Olah Raga, Kawasan Berikat, dan sejenisnya.</li>
                                        </ol>
                                    </li>
                                    <li>
                                        Kawasan Tidak Berpengelola adalah kawasan yang tidak/belum memiliki pengelola atau penanggungjawab kegiatan dan/atau usaha yang bersifat tetap, yaitu:
                                        <ol type="1" class="mt-2">
                                            <li>Kawasan permukiman antara lain komplek perumahan dan sejenisnya yang tidak/belum berpengelola.</li>
                                            <li>Kawasan komersial adalah kawasan tempat pemusatan kegiatan usaha perdagangan dan/atau jasa yang berlokasi/beroperasi di kawasan dan sejenisnya yang tidak/belum berpengelola.</li>
                                            <li>Kawasan industri dan pergudangan adalah kawasan tempat pemusatan kegiatan industri yang berlokasi/beroperasi di kawasan dan sejenisnya yang tidak/belum berpengelola</li>
                                        </ol>
                                    </li>
                                    <li>Tempat kegiatan komersial dan/atau industri yang tidak terletak dalam suatu kawasan tertentu, antara lain Minimarket, toko waralaba, restoran dan sejenisnya termasuk keramaian sesaat.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. Apa saja metode dalam pengelolaan sampah kawasan secara mandiri?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Dalam hal pelaksanaan pengelolaan sampah kawasan secara mandiri dapat dilakukan sendiri oleh pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha, maupun dapat dikerjasamakan dengan penyedia jasa/ badan usaha di bidang kebersihan melalui kegiatan sebagai berikut :</p>
                                <ol type="a">
                                    <li class="fw-semibold">Pengurangan Sampah, <span class="fw-normal">antara lain : pembatasan timbulan sampah; daur ulang sampah; pemanfaatan kembali sampah.</span></li>
                                    <li class="fw-semibold">
                                        Pemilahan sampah
                                        <div class="fw-normal">
                                            <p>Kegiatan pemilahan sampah dilakukan paling sedikit 5 (lima) jenis sampah, meliputi:</p>
                                            <ol type="1">
                                                <li>Sampah yang mudah terurai, antara lain sampah yang berasal dari tumbuhan, hewan dan/atau bagiannya yang dapat terurai oleh makhluk hidup lainnya dan/atau mikroorganisme, seperti sampah makanan dan serasah.</li>
                                                <li>Sampah yang dapat digunakan kembali, berupa sampah yang dapat dimanfaatkan kembali tanpa melalui proses pengolahan, seperti kertas kardus, botol minuman, kaleng.</li>
                                                <li>Sampah yang dapat didaur ulang, berupa sampah yang dapat dimanfaatkan kembali setelah melalui proses pengolahan, seperti sisa kain, plastik, kertas, kaca.</li>
                                                <li>Sampah yang mengandung bahan berbahaya dan beracun serta limbah bahan berbahaya dan beracun, seperti kemasan obat serangga, kemasan oli, kemasan obat-obatan, obat-obatan kadaluarsa, peralatan listrik dan peralatan elektronik rumah tangga; dan</li>
                                                <li>Sampah lainnya berupa residu.</li>
                                            </ol>
                                        </div>
                                    </li>
                                    <li class="fw-semibold">Pengumpulan sampah <div class="fw-normal">Kegiatan pengumpulan sampah, berupa pengambilan dan/atau pemindahan sampah dari sumber sampah ke TPS atau TPS 3R di dalam kawasan, menggunakan gerobak, motor sampah atau mobil pengangkut sampah, dilakukan sekurang-kurangnya 2 (dua) hari sekali.</div></li>
                                    <li class="fw-semibold">Pengolahan sampah<div class="fw-normal">Pengolahan sampah merupakan kegiatan mengubah karakteristik, komposisi, dan/atau timbulan sampah sesuai jenis sampah yang dilakukan di TPS 3R di dalam kawasan.</div></li>
                                    <li class="fw-semibold">Pengangkutan sampah<div class="fw-normal">Pengangkutan sampah merupakan kegiatan membawa sampah dari TPS atau TPS 3R di dalam kawasan menuju TPST menggunakan kendaraan bermotor untuk pengangkutan sampah yang ramah lingkungan.</div></li>
                                    <li class="fw-semibold">Penyediaan prasarana pengolahan sampah<div class="fw-normal">Penyediaan prasarana pengolahan sampah yang menjadi kewajiban pengelola kawasan atau penanggungjawab kegiatan atau usaha, berupa TPS dan/atau TPS 3R di dalam kawasan.</div></li>
                                    <li class="fw-semibold">Penyediaan sarana pengolahan sampah<div class="fw-normal">Penyediaan sarana pengolahan sampah yang menjadi kewajiban pengelola kawasan atau penanggungjawab kegiatan atau usaha, berupa sarana pemilahan sampah (wadah sampah sesuai standar dan/atau kriteria yang ditetapkan dalam ketentuan peraturan perundang-undangan), sarana pemindahan dan pengangkutan sampah (gerobak sampah, motor sampah, atau kendaraan roda empat sesuai standar yang ditetapkan), dan sarana pengolahan sampah di dalam kawasan antara lain (incinerator ramah lingkungan, digester, komposting, dan lain sebagainya).</div></li>
                                    <li class="fw-semibold">Penyediaan petugas kebersihan<div class="fw-normal">Berupa antara lain: petugas pemilahan sampah, petugas pemindahan dan pengangkutan sampah, dan/atau petugas pengolahan sampah.</div></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseTwo">
                                3. Apa saja Izin Usaha di Bidang Kebersihan dan bagaimana saya memperolehnya?
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Berdasarkan Peraturan Gubernur Provinsi Daerah Khusus Ibukota Jakarta Nomor 7 Tahun 2016 tentang Perubahan Atas Peraturan Gubernur Nomor 57 Tahun 2014 tentang Pelaksanaan Peraturan Daerah Nomor 12 Tahun 2013 Tentang Penyelenggaraan Pelayanan Terpadu Satu Pintu, terdapat 3 (tiga) jenis Izin Usaha di Bidang Kebersihan yang harus dipenuhi oleh badan usaha/perorangan yang akan melakukan usaha dimaksud dengan mengajukan permohonan izin ke Kantor Pelayanan Terpadu Satu Pintu di masing-masing Walikota sesuai domisili, yaitu:</p>
                                <ol type="a">
                                    <li>Izin Usaha Pelayanan Angkutan di Bidang Kebersihan dengan merujuk pada spesifikasi teknis sesuai Keputusan Kepala Dinas Kebersihan Provinsi DKI Jakarta Nomor 641 Tahun 2016 tentang Persyaratan Teknis Izin Usaha Pelayanan Angkutan Bidang Kebersihan</li>
                                    <li>Izin Usaha Pemusnahan/Pemanfaatan Sampah dan Air Kotor</li>
                                    <li>Izin Usaha Pengelolaan Sampah</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseTwo">
                                4. Bagaimana jika pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha tidak mempunyai lahan, SDM dan sarana prasarana pengelolaan sampah?
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha dapat bekerjasama dengan penyedia jasa di bidang kebersihan baik badan usaha maupun perorangan yang mempunyai izin yang masih berlaku untuk pengelolaan sampah pada lokasi bersangkutan. Untuk daftar perusahaan angkutan sampah berizin dapat dilihat pada tautan berikut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                5. Bagaimana saya dapat memperkirakan timbulan/produksi sampah yang saya hasilkan?
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Berdasarkan SNI 19-3964-1994 tentang Metode pengambilan dan pengukuran contoh timbulan dan komposisi sampah perkotaan untuk kategori Kantor = 0.50-0.75 liter per pegawai/hari atau 0.025 – 0.100 kg pegawai/hari dan kategori Toko/Ruko = 2.50-3.00 liter per petugas/hari atau 0.150 – 0.350 kg per petugas/hari. Timbulan/produksi sampah juga dapat diperkirakan berdasarkan ukuran panjang x lebar x tinggi dari tempat/wadah sampah.</p>
                                <p>Sebagai ilustrasi, Pengelola Kawasan Mall A dengan prediksi timbulan sampah sebanyak 6 m3 per hari. Pengelola Mall A bekerjasama dengan penyedia jasa bidang kebersihan dengan perjanjian pengangkutan sampah dilakukan setiap 2 (dua) hari sekali dengan truk sampah berkapasitas 12 m3 (jenis truk tipper kecil).</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                6. Berapa biaya untuk bekerjasama dengan penyedia jasa angkutan sampah?
                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Jika menggunakan ilustrasi pada poin 5. dapat diperkirakan dengan biaya jasa sebesar Rp. X,- per rit (belum termasuk PPn) termasuk penyediaan kru untuk bongkar muat sampah. Perkiraan biaya yang harus dikeluarkan dalam 1 (satu) bulan oleh Pengelola Mall A adalah sebagai berikut:</p>
                                <table class="table table-responsive table-bordered" style="margin-top:15px;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Deskripsi</th>
                                <th>Harga (Rp)</th>
                                <th>Frekuensi Pengangkutan (rit)</th>
                                <th>Total (Rp)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Biaya jasa angkutan</td>
                                <td>X</td>
                                <td>15</td>
                                <td>(Rp. X x 15)</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center">PPn 10%</td>
                                <td>(Rp. X x 15) x 10%</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td colspan="3"><b>Jumlah 1</b></td>
                                <td><b>X</b></td>
                            </tr>
                        </tfoot>
                    </table>

                                <table class="table table-responsive table-bordered">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Deskripsi</th>
                                            <th>Biaya (Rp)</th>
                                            <th>Frekuensi Pengangkutan (rit)</th>
                                            <th>Volume (m<sup>3</sup>)</th>
                                            <th>Total (Rp)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2</td>
                                            <td>Retribusi Penyediaan tempat pembuangan/ pemusnahan Akhir <br>Sampah (TPA sampah).</td>
                                            <td>25.000</td>
                                            <td>15</td>
                                            <td>12</td>
                                            <td>4.500.000</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="4"><b>Jumlah 2</b></td>
                                            <td><b>4.500.000</b></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td colspan="4"><b>Jumlah 1 &amp; 2</b></td>
                                            <td><b>X + 4.500.000</b></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading7">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                7. Bagaimana jika biaya yang ditawarkan oleh penyedia jasa angkutan sampah mahal?
                            </button>
                        </h2>
                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Biaya pengangkutan sampah dalam pelaksanaan layanan pengelolaan sampah kawasan secara mandiri oleh penyedia jasa/ badan usaha di bidang kebersihan memperhitungkan biaya operasional pengangkutan, retribusi penyediaan TPA dan keuntungan yang wajar bagi penyedia.</p>
                                <p>Jika biaya yang ditawarkan oleh salah satu penyedia jasa angkutan sampah relatif mahal, pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha dapat melakukan hal-hal sebagai berikut:</p>
                                <ul>
                                    <li>Meminta penawaran dan melakukan negosiasi kepada penyedia jasa angkutan sampah lainnya karena penentuan harga dilakukan berdasarkan mekanisme pasar.</li>
                                    <li>Bekerjasama dengan pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha lainnya di lingkungan sekitar agar sampah yang dihasilkan dapat diangkut secara kolektif/komunal oleh salah satu penyedia jasa angkutan sampah, sehingga dapat menekan biaya angkutan sampah dengan membentuk Lembaga Pengelola Sampah (LPS) tingkat kawasan.</li>
                                    <li>Selain itu, dengan mengutamakan prinsip bahwa pengelolaan sampah harus selesai terkelola di sumber sampah, dengan menerapkan prinsip 3R (reduce, reuse, recycle) dan/atau zero waste maka biaya pengangkutan sampah dapat ditekan karena hanya benar-benar residu dari sampah yang tidak bisa digunakan lagi yang akan diangkut dan dibuang ke TPST Bantargebang.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading8">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                8. Saya mempunyai kendaraan yang akan saya pergunakan sebagai angkutan sampah. Bagaimana cara untuk mendapatkan izin?
                            </button>
                        </h2>
                        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Badan usaha/perorangan yang akan melakukan usaha dimaksud dengan mengajukan permohonan izin ke Kantor Pelayanan Terpadu Satu Pintu di masing-masing Walikota sesuai domisili dengan persyaratan administrasi dan teknis yang dapat dilihat pada tautan ini sesuai Keputusan Kepala Dinas Kebersihan Provinsi DKI Jakarta Nomor 641 Tahun 2016 tentang Persyaratan Teknis Izin Usaha Pelayanan Angkutan Bidang Kebersihan.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading9">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                9. Setelah saya mendapatkan Izin Usaha Pelayanan Angkutan di Bidang Kebersihan, bagaimana cara saya untuk membuang sampah sesuai ketentuan?
                            </button>
                        </h2>
                        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Setelah suatu badan usaha/perorangan mendapatkan Izin Usaha Pelayanan Angkutan di Bidang Kebersihan agar melaporkan izin tersebut ke Dinas Lingkungan Hidup Provinsi DKI Jakarta c.q Unit Pengelola Sampah Terpadu sehingga badan usaha/perorangan dapat dimasukkan ke dalam data Daftar Perusahaan Angkutan Sampah Berizin Di Dinas Lingkungan Hidup Provinsi DKI Jakarta yang akan dipublikasikan pada situs resmi Dinas Lingkungan Hidup Provinsi DKI Jakarta dan akan diperbarui secara berkala.</p>
                                <p>Jika suatu badan usaha/perorangan yang telah mendapatkan Izin Usaha Pelayanan Angkutan di Bidang Kebersihan, telah mendapat kontrak kerjasama dan sesuai surat izin, harus membuang sampah hasil kerjasama ke TPST Bantargebang, maka diwajibkan mendaftarkan badan usaha/perorangan-nya ke Dinas Lingkungan Hidup Provinsi DKI Jakarta c.q Unit Pengelola Sampah Terpadu dengan melengkapi formulir dan lampiran seperti tertera pada formulir tersebut.</p>
                                <p>Setelah melengkapi formulir dan lampirannya, anda dapat menyerahkannya kepada petugas di Dinas Lingkungan Hidup Provinsi DKI Jakarta c.q Unit Pengelola Sampah Terpadu (UPST) untuk kemudian diperiksa kelengkapannya, dan jika sudah lengkap akan didaftarkan secara online dan dapat langsung membuang sampah ke TPST Bantargebang. Perlu diketahui, bahwa pendaftaran ini tidak dipungut biaya.</p>
                                <p>Untuk penyedia jasa/kendaraan yang baru pertama kali akan membuang sampah ke TPST Bantargebang, wajib membawa copy dokumen izin pengangkutan sampah dan copy formulir yang telah diperiksa kelengkapannya dan ditandatangani oleh petugas UPST. Penyedia jasa wajib menyerahkan salinan Surat Perintah Jalan (SPJ) untuk setiap kali membuang sampah ke TPST Bantargebang. Penyedia jasa wajib melaporkan kegiatan pengelolaan sampah setiap bulannya dan memperbarui laporan daftar kontrak jika ada penambahan/perubahan ke Dinas Lingkungan Hidup (form laporan).</p>
                                <p>Badan usaha/perorangan yang telah didaftarkan, dapat langsung membuang sampah ke TPST Bantargebang dan akan dicatat setiap kali membuang sampah ke TPST Bantargebang, berupa tanggal masuk, waktu masuk, tanggal keluar, waktu keluar, nomor plat, nomor pintu, tipe kendaraan, lokasi kerja, Badan usaha/perorangan/expenditur, berat masuk, berat keluar dan berat nett. Selain itu SPJ akan distempel oleh petugas dan mendapat bukti pembuangan sampah berupa struk.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading10">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                10. Apakah saya selaku pengelola kawasan dapat mengajukan permohonan kepada Dinas/Suku Dinas Lingkungan Hidup atau Seksi Kebersihan Kecamatan untuk mendapatkan pelayanan angkutan sampah dengan membayar retribusi?
                            </button>
                        </h2>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Berdasarkan Keputusan Kepala Dinas Kebersihan Provinsi Daerah Khusus Ibukota Jakarta Nomor 117 Tahun 2016 Tentang Pelaksanaan Pengelolaan Sampah Pada Kawasan Secara Mandiri (diktum KETIGA), menyebutkan bahwa kendaraan dinas operasional kebersihan tidak lagi diperkenankan melaksanakan pengangkutan sampah pada kawasan yang termasuk dalam kriteria kawasan yang wajib melakukan pengelolaan sampah secara mandiri.</p>
                                <p>Pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha dapat melakukan pengelolaan sampah seperti yang sudah dijelaskan pada poin 2.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading11">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                11. Saya sudah bekerjasama dengan penyedia jasa angkutan sampah, namun setelah saya cek ke Dinas Lingkungan Hidup/situs resmi Dinas Lingkungan Hidup, ternyata penyedia jasa angkutan sampah tersebut tidak memiliki izin atau belum melaporkan kontrak / tidak membayar "Retribusi Penyediaan Tempat Pembuangan/ Pemusnahan Akhir Sampah (TPA sampah)". Apa yang harus saya lakukan?
                            </button>
                        </h2>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha dapat melakukan hal sebagai berikut:</p>
                                <ol type="a">
                                    <li>
                                        <p>Memeriksa kembali kelengkapan perizinan dari penyedia jasa angkutan sampah dan jika benar penyedia jasa angkutan sampah tidak dapat membuktikan perizinan yang sah dan berlaku, maka pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha wajib memberi surat teguran untuk segera mengajukan permohonan izin ke Kantor Pelayanan Terpadu Satu Pintu di masing-masing Walikota sesuai domisili. Dengan batas waktu maksimal 14 hari kerja setelah surat tersebut ditandatangani, penyedia jasa angkutan sampah harus melaporkan kepada pengelola kawasan atau p enanggungjawab kegiatan dan/atau usaha dan UPST setidaknya dokumen tanda terima pengajuan permohonan izin dari PTSP.</p>
                                        <p>Sementara proses pengajuan izin berlangsung, pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha menginstruksikan kepada penyedia jasa angkutan sampah eksisting untuk melakukan kerjasama dengan penyedia jasa angkutan sampah yang sudah mempunyai izin, agar pelaksanaan pengangkutan sampah pada kawasan tidak terganggu.</p>
                                    </li>
                                    <li>
                                        <p>Jika penyedia jasa angkutan sampah mempunyai izin yang masih berlaku, namun tidak melaksanakan pengelolaan sampah sesuai ketentuan berlaku, yaitu belum melaporkan kontrak / tidak membayar "Retribusi Penyediaan TPA", maka pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha dapat memeriksa penyedia jasa angkutan sampah tersebut dengan menanyakan dimana sampah hasil kegiatan dibuang, dokumen pendaftaran kendaraan untuk membuang sampah ke TPST Bantargebang (formulir pendaftaran), bukti struk pembuangan TPST Bantargebang, Tanda Bukti Pembayaran dan Surat Setoran Retribusi Daerah (SSRD) untuk Retribusi Penyediaan Tempat Pembuangan/ Pemusnahan Akhir Sampah (TPA sampah).</p>
                                        <p>Jika penyedia jasa angkutan sampah tidak dapat membuktikan dokumen-dokumen dimaksud, maka penyedia jasa tersebut termasuk dalam kategori berizin namun tidak melaksanakan pengelolaan sampah sesuai ketentuan berlaku. Pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha wajib memberi surat teguran kepada penyedia jasa untuk segera mengajukan pendaftaran ke Dinas Lingkungan Hidup Provinsi DKI Jakarta c.q Unit Pengelola Sampah Terpadu dengan melengkapi formulir dan lampiran seperti tertera pada formulir tersebut. Dengan batas waktu maksimal 14 hari kerja setelah surat tersebut ditandatangani, penyedia jasa angkutan sampah harus melaporkan kepada pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha dokumen tanda terima pengajuan pendaftaran pembuangan sampah ke TPST Bantargebang.</p>
                                    </li>
                                    <li>Pada kasus penyedia jasa tidak berkehendak untuk mengajukan permohonan izin Usaha Pelayanan Angkutan di Bidang Kebersihan karena sesuatu dan lain hal, maka pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha menginstruksikan kepada penyedia jasa angkutan sampah eksisting untuk melakukan kerjasama dengan penyedia jasa angkutan sampah yang mempunyai izin yang masih berlaku dan wajib melaporkan kontrak tersebut ke Dinas Lingkungan Hidup Provinsi DKI Jakarta Cq Unit Pengelola Sampah Terpadu (UPST) dengan tembusan Suku Dinas Lingkungan Hidup dan Seksi Dinas Lingkungan Hidup Kecamatan setempat.</li>
                                    <li>Pada kasus penyedia jasa tidak berkehendak untuk mengajukan permohonan izin Usaha Pelayanan Angkutan di Bidang Kebersihan dan tidak berkehendak untuk melakukan kerjasama dengan penyedia jasa angkutan sampah yang mempunyai izin yang masih berlaku, maka pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha wajib memutus kontrak dengan batas waktu maksimal 14 hari kerja setelah surat teguran ditandatangani.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading12">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                12. Bagaimana saya selaku pengelola kawasan dapat mengetahui bahwa penyedia jasa angkutan sampah yang telah bekerjasama sudah melaksanakan pengangkutan sampah sesuai ketentuan?
                            </button>
                        </h2>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha dapat mengetahui dengan cara-cara sebagai berikut:</p>
                                <ol type="a">
                                    <li>Menghubungi petugas Provinsi DKI Jakarta Cq Unit Pengelola Sampah Terpadu (UPST) pada alamat diatas untuk meminta keterangan mengenai penyedia jasa tersebut atau dapat membuka laman penyedia jasa angkutan sampah yang mempunyai izin yang masih berlaku yang memuat informasi mengenai daftar dan status penyedia jasa angkutan sampah.</li>
                                    <li>Melakukan wawancara dengan penyedia jasa angkutan sampah mengenai kelengkapan dokumen perizinan, pendaftaran pembuangan sampah ke TPST Bantargebang dan pelaksanaan pengangkutan sampah dari mulai jadwal pengambilan sampah, administrasi SPJ/log book, jadwal dan lokasi pembuangan sampah.</li>
                                    <li>Melakukan pengawasan lapangan terhadap seluruh pelaksanaan pengelolaan pengangkutan sampah.</li>
                                    <li>Meminta bukti pembuangan sampah di TPST Bantargebang berupa struk, tanda bukti pembayaran Retribusi Penyediaan TPA dan Surat Setoran Retribusi Daerah (SSRD). Jika penyedia jasa tersebut tidak bisa menunjukkan bukti-bukti tersebut, maka dapat dipastikan penyedia jasa tidak melaksanakan pengelolaan sampah sesuai ketentuan.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading13">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                13. Apakah ada retribusi yang harus saya bayarkan ketika saya membuang sampah ke TPST Bantargebang? Bagaimana mekanisme pembayarannya?
                            </button>
                        </h2>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Retribusi Penyediaan Tempat Pembuangan/ Pemusnahan Akhir Sampah (TPA sampah) akan dikenakan untuk setiap kendaraan angkutan sampah dari penyedia jasa yang membuang sampah ke TPST Bantargebang, dengan urutan sebagai berikut:</p>
                                <ul>
                                    <li>Setiap kendaraan yang membuang sampah ke TPST Bantargebang akan diharuskan menyerahkan salinan dokumen Surat Perintah Jalan (SPJ) untuk kemudian di stempel dan di tandatangani oleh petugas.</li>
                                    <li>Setelah pemeriksaan dokumen SPJ, kendaraan akan ditimbang dan dicatat identitasnya.</li>
                                    <li>Kendaraan dapat membuang sampah pada zona yang telah ditentukan oleh petugas.</li>
                                    <li>Kendaraan melakukan penimbangan keluar dan memperoleh struk tanda bukti pembuangan sampah di TPST Bantargebang yang berisi informasi antara lain yaitu : nomor polisi kendaraan, nomor pintu kendaraan, tanggal dan waktu masuk dan keluar, nama penyedia jasa, berat sampah dalam satuan kilogram.</li>
                                    <li>UPST akan melakukan verifikasi dan validasi terhadap seluruh transaksi pembuangan sampah dalam rangka penerbitan laporan bulanan hasil penimbangan sampah di TPST Bantargebang.</li>
                                </ul>
                                <p>Mekanisme pembayaran Retribusi Penyediaan Tempat Pembuangan/ Pemusnahan Akhir Sampah (TPA sampah):</p>
                                <ul>
                                    <li>Besaran retribusi yang akan dibebankan pada setiap penyedia jasa sesuai dengan Peraturan Daerah Nomor 1 Tahun 2015 tentang Perubahan Atas Peraturan Daerah Nomor 3 Tahun 2012 tentang Retribusi Daerah pada Lampiran III Tabel F., yaitu Retribusi Penyediaan Tempat Pembuangan/ Pemusnahan Akhir Sampah (TPA sampah) sebesar Rp. 25,000 per m3.</li>
                                    <li>Laporan hasil penimbangan sampah TPST Bantargebang yang berupa satuan kilogram atau ton akan dikonversi menjadi m3 sesuai dengan Keputusan Kepala Dinas Kebersihan Nomor 527 Tahun 2016 tentang Pedoman Standardisasi Konversi Satuan Sampah Dari Ton ke M3 (dan sebaliknya).</li>
                                    <li>UPST akan menerbitkan surat tagihan kepada Wajib Retribusi/Penyedia jasa sesuai dengan rekapitulasi hasil penimbangan, paling lambat setiap tanggal 15 untuk setiap transaksi pembuangan sampah di TPST Bantargebang yang dilakukan pada bulan sebelumnya. Tanggal surat tagihan merupakan tanggal penetapan Surat Ketetapan Retribusi Daerah (SKRD).</li>
                                    <li>UPST menerbitkan Surat Setoran Retribusi Daerah (SSRD), yang akan digunakan oleh Wajib Retribusi/Penyedia jasa untuk langsung membayar retribusi terhutang ke Bank Penerima dalam hal ini Bank DKI atau dengan menggunakan fasilitas Virtual Account dengan jatuh tempo pembayaran 30 (tiga puluh) hari sejak ditetapkan SKRD.</li>
                                    <li>Apabila dalam jangka waktu yang telah ditetapkan, Wajib Retribusi/Penyedia jasa tidak dapat memenuhi kewajibannya, maka dikenakan sanksi denda sebesar 2% dari nilai tagihan.</li>
                                    <li>Tata cara pelaksanaan pemungutan retribusi Penyediaan TPA dilakukan berdasarkan Peraturan Gubernur Nomor 109 Tahun 2013 tentang Tata Cara Pelaksanaan Pemungutan Retribusi Daerah.</li>
                                    <li>Tata cara pembayarannya sesuai dengan Peraturan Gubernur Nomor 11 Tahun 2014 tentang Tata Cara Penerimaan Pembayaran Retribusi Daerah Dengan Sistem Elektronik Retribusi.</li>
                                    <li>Untuk lebih jelasnya, silahkan lihat bagan</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading14">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                14. Bagaimana jika rekapitulasi tagihan Retribusi Penyediaan TPA tidak sesuai/error?
                            </button>
                        </h2>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Periksa setiap struk bukti transaksi pembuangan sampah TPST Bantargebang. Jika terdapat ketidaksesuaian/error misalnya hasil penimbangan ~ 0 kg, nomor polisi atau nomor pintu tidak sesuai, tidak mendapatkan struk, dan lain sebagainya harap segera melaporkan ke UPST maksimal 5 (lima) hari kerja setelah kejadian tersebut.</li>
                                    <li>Laporkan rincian dan rekapitulasi pembuangan sampah setiap bulannya sebelum tanggal 10 bulan berikutnya.</li>
                                    <li>Petugas UPST akan melakukan verifikasi dan validasi terhadap data struk, SPJ dan laporan bulanan dari penyedia jasa.</li>
                                    <li>Hasil verifikasi dan validasi akan disampaikan kepada penyedia jasa.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading15">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                15. Adakah sanksi jika saya selaku pengelola kawasan atau penyedia jasa di Bidang Kebersihan tidak melaksanakan pengelolaan sampah sesuai peraturan?
                            </button>
                        </h2>
                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Berdasarkan Peraturan Daerah Provinsi Daerah Khusus Ibukota Jakarta Nomor 3 Tahun 2013 tentang Pengelolaan Sampah sanksi yang akan diberikan adalah sebagai berikut:</p>
                                <ol type="a">
                                    <li class="fw-semibold">
                                        Selaku pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha
                                        <div class="fw-normal">
                                        <p>Pasal 127 ayat (2)</p>
                                        <p>Penanggung jawab dan/atau pengelola kawasan permukiman, kawasan komersial, kawasan industri, kawasan khusus, yang lalai atau dengan sengaja tidak menyediakan fasilitas dan/atau melaksanakan pengelolaan sampah sebagaimana dimaksud dalam Pasal 12 ayat (2), dikenakan sanksi administratif berupa uang paksa paling sedikit Rp.10.000.000,00 (sepuluh juta rupiah) dan paling banyak Rp.50.000.000,00 (lima puluh juta rupiah).</p>
                                        </div>
                                    </li>
                                    <li class="fw-semibold">
                                        Selaku penyedia jasa di bidang kebersihan
                                        <div class="fw-normal">
                                        <p>Pasal 131 ayat (1)</p>
                                        <p>Saya selaku penyedia jasa angkutan sampah yang telah memiliki izin dari Pemerintah Provinsi DKI Jakarta, bolehkah saya membuang sampah ke TPS terdekat atau lokasi selain TPST Bantargebang?elaku usaha yang terbukti melakukan usaha pengelolaan sampah tanpa izin sebagaimana dimaksud dalam Pasal 84 ayat (1), kepada penanggungjawab dikenakan sanksi administratif berupa uang paksa paling sedikit Rp.5.000.000,00 (lima juta rupiah) dan paling banyak Rp.10.000.000,00 (sepuluh juta rupiah) dengan ketentuan wajib memproses Izin Usaha Pengelolaan Sampah.</p>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading16">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                16.Saya selaku penyedia jasa angkutan sampah yang telah memiliki izin dari Pemerintah Provinsi DKI Jakarta, bolehkah saya membuang sampah ke TPS terdekat atau lokasi selain TPST Bantargebang?
                            </button>
                        </h2>
                        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                Tempat pembuangan sampah yang diperuntukkan bagi para penyedia jasa angkutan sampah hanya pada lokasi TPST Bantargebang, sebagaimana tercantum dalam dokumen Izin Usaha Pelayanan Angkutan di Bidang Kebersihan. Sedangkan untuk lokasi TPS, para penyedia jasa angkutan sampah tidak diperkenankan untuk membuang sampah karena TPS diperuntukkan sampah warga, sehingga tidak ada ketentuan retribusi dan tidak akan mendapatkan bukti pengelolaan sampah sesuai ketentuan (struk dan SSRD).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading17">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                17. Saya selaku penyedia jasa angkutan sampah yang telah memiliki izin dari Pemerintah Provinsi DKI Jakarta juga mempunyai lokasi pengelolaan sampah. Dapatkah saya membawa sampah hasil dari kawasan ke lokasi tersebut?
                            </button>
                        </h2>
                        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Penyedia jasa angkutan sampah yang juga mempunyai lokasi pengelolaan sampah baik itu berupa pengurangan sampah, pemilahan sampah, pengumpulan sampah, pengolahan sampah dan sarana prasarana pengelolaan sampah lainnya diperbolehkan untuk membawa sampah hasil dari pengelola kawasan atau penanggungjawab kegiatan dan/atau usaha ke lokasi tersebut dengan syarat:</p>
                                <ol type="a">
                                    <li>Sampah diangkut menggunakan kendaraan dengan izin yang masih berlaku.</li>
                                    <li>Lokasi pengelolaan sampah yang dipunyai oleh penyedia jasa angkutan sampah juga telah memiliki izin yang masih berlaku.</li>
                                    <li>Setiap pelaksanaan pengelolaan sampah pada kawasan secara mandiri, wajib memberikan laporan kegiatan tersebut setiap bulan kepada Kepala Dinas Lingkungan Hidup cq. Kepala Unit Pengelola Sampah Terpadu dengan tembusan ke Kepala Suku Dinas Lingkungan Hidup dan Kepala Seksi Kebersihan Kecamatan masing-masing.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading18">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                                18. Bagaimana saya melaporkan pelanggaran dalam pelaksanaan pengelolaan sampah kawasan secara mandiri?
                            </button>
                        </h2>
                        <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Pelanggaran dalam pelaksanaan pengelolaan sampah kawasan secara mandiri dapat dilaporkan dengan cara sebagai berikut:</p>
                                <ol>
                                    <li>Surat Resmi kepada Kepala Dinas Lingkungan Hidup</li>
                                    <li>Situs resmi Dinas Lingkungan Hidup atau Situs resmi Unit Pengelola Sampah Terpadu</li>
                                    <li>Melalui aplikasi Qlue (iOS) (Android)</li>
                                    <li>Hotline Dinas Lingkungan Hidup +62218092744; +622180876542, email: uptpst@jakarta.go.id</li>
                                    <li>Kepala Satuan Pelaksana Kebersihan Kecamatan terdekat</li>
                                    <li>Media sosial resmi Dinas Lingkungan Hidup (Facebook) (Twitter) (Instagram)</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading19">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                                19. Apakah saya harus melaporkan kegiatan pengelolaan sampah yang saya lakukan ?
                            </button>
                        </h2>
                        <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                Kerjasama pengelola kawasan atau penanggungjawab kegiatan atau usaha dalam pengelolaan sampah kawasan dengan penyedia jasa/ badan usaha di bidang Kebersihan wajib dilaporkan secara tertulis kepada Kepala Dinas Lingkungan Hidup cq. , dengan melampirkan perjanjian kerjasama yang menjelaskan mengenai jenis dan tata cara pengelolaan sampah yang akan dilaksanakan. Pelaporan sebagaimana dimaksud, dilakukan pada saat pertama kali melakukan perikatan kerjasama, setiap waktu pelaksanaan pengelolaan sampah melalui kartu kendali / SPJ (disediakan oleh penyedia jasa/ badan usaha bidang kebersihan) dan secara berkala setiap 1 (satu) bulan sekali (termasuk rekapitulasi) (form laporan).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>




@section scripts{
    <script>

        // Navbar solid when scroll down
        document.querySelector("nav").classList.add("bg-white");
        document.querySelector("ul.navbar-nav").classList.remove("nav-text-white");

        // Navbar solid when scroll down
        window.addEventListener("scroll", () => {
            if (window.scrollY > 80) {
                document.querySelector("nav").classList.add("shadow");
            } else {
                document.querySelector("nav").classList.remove("shadow");
            }
        });
    </script>
}