@{
    ViewData["Title"] = "Pengelolaan Sampah Kawasan";
    ViewBag.Menu = "Pengelolaan Sampah";
    ViewBag.SubMenu = "Pengelolaan Sampah Kawasan";
    ViewBag.SubMenuNd = "PKMRingkasan";
}

<main class="container w-blog pb-5" style="padding-top: 120px">
    <section>
        <h1 class="fw-bold text-center title-page">@ViewData["Title"]</h1>
    </section>
    <section class="content px-2 px-lg-3 py-5">
        <div class="row justify-content-center">
            <div class="col">
                <p>Pengelolaan sampah kawasan secara mandiri diamanatkan dalam Peraturan Daerah Provinsi Daerah Khusus Ibukota Jakarta Nomor 3 Tahun 2013 tentang Pengelolaan Sampah pasal 12 ayat (2) Penanggung jawab dan/atau pengelola kawasan permukiman, kawasan komersial, kawasan industri, kawasan khusus, fasilitas umum, fasilitas sosial, fasilitas lainnya dan kegiatan keramaian sesaat, wajib melaksanakan pengelolaan sampah; Instruksi Gubernur Provinsi Daerah Khusus Ibukota Jakarta Nomor 8 Tahun 2016 tentang Penerapan Pengelolaan Sampah Kawasan Secara Mandiri, dan Keputusan Kepala Dinas Kebersihan Provinsi Daerah Khusus Ibukota Jakarta Nomor 117 Tahun 2016 tentang Pelaksanaan Pengelolaan Sampah Pada Kawasan Secara Mandiri.</p>
                <p>Pengelolaan sampah kawasan secara mandiri mengutamakan prinsip bahwa pengelolaan sampah harus selesai terkelola di sumber sampah. Kriteria kawasan dan yang termasuk dalam pengelolaan sampah secara mandiri adalah sebagai berikut:</p>
                <ol type="a">
                    <li>Kawasan Berpengelola adalah kawasan yang memiliki pengelola atau penanggungjawab kegiatan dan/atau usaha yang bersifat tetap dan mempunyai struktur organisasi.</li>
                    <li>Kawasan Tidak Berpengelola adalah kawasan yang tidak/belum memiliki pengelola atau penanggungjawab kegiatan dan/atau usaha yang bersifat tetap.</li>
                    <li>Tempat kegiatan komersial dan/atau industri yang tidak terletak dalam suatu kawasan tertentu.</li>
                </ol>
                <p>Pada Perda 3 tahun 2013 mengamanatkan bahwa seluruh kawasan yang masuk dalam kriteria kawasan mandiri wajib melakukan pengelolaan sampah secara mandiri. Setelah itu pada tahun 2014 dilakukan kajian potensi dan pemetaan kawasan dimaksud, dilanjutkan pada tahun 2015 dilakukan sosialisasi mengenai kewajiban pengelolaan sampah terhadap kurang lebih 300 pengelola kawasan.</p>
                <p>Pada tahun 2016 diterbitkan beberapa peraturan pendukung pelaksanaan, antara lain:</p>
                <ol type="1">
                    <li>Instruksi Gubernur Nomor 8 Tahun 2016 tentang Penerapan Pengelolaan Sampah Secara Mandiri</li>
                    <li>Keputusan Kepala Dinas Kebersihan Nomor 117 Tahun 2016 tentang Pelaksanaan Pengelolaan Sampah Pada Kawasan Secara Mandiri</li>
                    <li>Instruksi Kepala Dinas Nomor 130 Tahun 2016 tentang Pelaksanaan Pengelolaan Sampah Kawasan Secara Mandiri</li>
                </ol>
                <p>Kemudian dilakukan sosialisasi terhadap peraturan-peraturan tersebut ke masing-masing Kota Administrasi, Suku Dinas Kebersihan Provinsi DKI Jakarta serta kawasan yang masuk dalam kriteria tersebut. Dilakukan pula sosialisasi melalui Web Dinas Kebersihan dengan tujuan agar pihak terkait dapat memperoleh informasi secara mudah dan jelas. Selain itu Unit Pengelola Sampah Terpadu selaku unit yang bertanggung jawab terhadap pelaksanaan Pengelolaan Kawasan secara mandiri juga mengirimkan surat kepada kurang lebih 1000 (seribu) kawasan tentang kewajiban mereka untuk mengelola sampahnya secara mandiri, serta dilakukan monitoring secara berkala terhadap kawasan tersebut.</p>
                <p>Untuk mempermudah pengolahan data dan informasi sudah dibuat pula sistem informasi e-monitoring pengelolaan kawasan secara mandiri. Pada sistem informasi tersebut, data dapat diperbaharui secara realtime dan dapat diperoleh informasi baik secara grafis maupun tabulasi mengenai progress pelaksanaan pengelolaan sampah secara mandiri.</p>
                <!--
                <div class="row justify-content-center mt-5">
                    <div class="col">
                        <h2 class="h1 text-center">Layanan Dasar Pengelolaan Sampah Kawasan Mandiri</h2>
                        <div class="row justify-content-center my-5">
                            <div class="col-lg-3 col-6 fw-semibold text-center">
                                <img src="~/assets/img/trash-bin.png"
                                     class="rounded-4 thumbnail-fit mb-2"
                                     width="65%"
                                     alt="" />
                                Pemilahan dan Pengumpulan Sampah
                            </div>
                            <div class="col-lg-3 col-6 fw-semibold text-center">
                                <img src="~/assets/img/truck.png"
                                     class="rounded-4 thumbnail-fit mb-2"
                                     width="65%"
                                     alt="" />Pengangkutan Sampah
                            </div>
                            <div class="col-lg-3 col-6 fw-semibold text-center mt-3 mt-lg-0">
                                <img src="~/assets/img/compost.png"
                                     class="rounded-4 thumbnail-fit mb-2"
                                     width="65%"
                                     alt="" />Pengolahan Sampah
                            </div>
                            <div class="col-lg-3 col-6 fw-semibold text-center mt-3 mt-lg-0">
                                <img src="~/assets/img/tpa.png"
                                     class="rounded-4 thumbnail-fit mb-2"
                                     width="65%"
                                     alt="" />Pemrosesan Akhir
                            </div>
                        </div>
                    </div>
                </div>
                <img data-lazy="/assets/img/panduan-pemilahan.png"
                     class="lazy rounded-4 thumbnail-fit d-block mx-auto mb-4"
                     width="90%"
                     alt="" />
                <p>Pemilahan sampah dilakukan menjadi:</p>
                <ul>
                    <li>Material Mudah Terurai</li>
                    <li>Material Daur Ulang</li>
                    <li>Materia B3</li>
                    <li>Material Residu</li>
                </ul>
                <h3>Paket Layanan Pemilahan dan Pengumpulan Sampah: Perdagangan dan Jasa, Perkantoran, dan Industri</h3>
                <ol>
                    <li>
                        <h4 class="fw-semibold mb-2">Wadah Sampah Terpilah </h4>
                        <img data-lazy="/assets/img/Perkantoran-Wadah-Sampah-Terpilah.png"
                             class="lazy rounded-4 thumbnail-fit d-block mx-auto mb-4"
                             width="75%"
                             alt="" />
                        <p class="mb-2">
                            Pemberian wadah sampah terpilah dengan beberapa pilihan: 
                        </p>
                        <ol type="a">
                            <li>Kantong sampah pilah ukuran 40 x 50 cm, dengan pemasangan dilakukan di kerangka besi</li>
                            <li>Ember untuk sampah sisa makanan</li>
                            <li>Wadah sampah ukuran minimal 15 Liter sebanyak 3 unit per ruangan untuk sampah sisa makanan, anorganik, residu. </li>
                            <li>
                                Dalam wadah tersebut, akan dipasang plastik pilah berwarna dengan ukuran 50 x 60 cm atau lebih
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h4 class="fw-semibold mb-2">Wadah Pengumpulan Sampah </h4>
                        <img data-lazy="/assets/img/perkantoran-wadah-pengumpulan-sampah.png"
                             class="lazy rounded-4 thumbnail-fit d-block mx-auto mb-4"
                             width="75%"
                             alt="" />
                        <p class="mb-2 fw-semibold">
                            Keterangan: 
                        </p>
                        <ol type="a">
                            <li>Pemberian wadah sampah ukuran 120 Liter atau 660 Liter di setiap sudut lantai sebagai tempat pengumpulan sampah dari setiap ruangan. </li>
                            <li>Minimal 3 unit untuk pengumpulan sampah sisa makanan, material daur ulang, dan residu.</li>
                            <li>Masing masing wadah akan diberikan warna sesuai jenis sampah</li>
                        </ol>
                    </li>
                </ol>
                -->
                <p class="fw-semibold">Form Pengelolaan Sampah Pada Kawasan Secara Mandiri:</p>
                <ol type="1">
                    <li>Formulir Neraca Sampah (01-FNS)</li>
                    <li>Formulir Surat Permohonan Pendaftaran (02-FSPP)</li>
                    <li>
                        Surat Pendaftaran
                        <ol type="a" class="mt-2">
                            <li>Surat Pendaftaran Pelaksanaan Pengelolaan Sampah (03A-SPP-PS)</li>
                            <li>Surat Pendaftaran Badan Usaha Pengelolaan Sampah (03B-SPBU-PS)</li>
                        </ol>
                    </li>
                    <li>Formulir Laporan Harian Pengelolaan Sampah (04-FLHPS)</li>
                    <li>Dokumen Manifest Sampah (05-DMS)</li>
                    <li>Formulir Laporan Bulanan Pengelolaan Sampah (06-FLBS)</li>
                    <li>Laporan Rekapitulasi Pengangkutan Sampah (07-LRAS)</li>
                    <li>Laporan Rekapitulasi Pengolahan Sampah (08-LROS)</li>
                </ol>
            </div>
        </div>
    </section>
</main>




@section scripts{
    <script>

        // Navbar solid when scroll down
        document.querySelector("nav").classList.add("bg-white");
        document.querySelector("ul.navbar-nav").classList.remove("nav-text-white");

        // Navbar solid when scroll down
        window.addEventListener("scroll", () => {
            if (window.scrollY > 80) {
                document.querySelector("nav").classList.add("shadow");
            } else {
                document.querySelector("nav").classList.remove("shadow");
            }
        });
    </script>
}