@{
    ViewData["Title"] = "Artikel";
    ViewBag.Menu = "Artikel";
}
<main style="padding: 120px 0">
    <section class="container px-4 px-lg-3">
        <h1 class="fw-bold text-lg-start text-center" style="font-size: 3rem">
            Artikel
        </h1>
        <p class="fs-5 fw-medium text-lg-start text-center">
            Our stories, latest updates, and exclusive promos. Find anything you
            want to know about us.
        </p>

        <div class="row py-4 gy-5 gy-lg-4" style="--bs-gutter-x: 6rem">
            <div class="col-lg-6">
                <div>
                    <a href="/Articles/Detail" class="ratio ratio-16x9">
                        <img data-lazy="./assets/img/1.jpg"
                             class="lazy rounded-4 thumbnail-fit"
                             alt="" />
                    </a>
                    <div class="mt-3">
                        <a href="/Articles/Detail" class="text-dark text-decoration-none">
                            <h2 class="title-artikel fw-bold fs-2 text-break line-clamp-2 mb-2 mb-lg-3">
                                New skills & imposter syndrome are the biggest challenges
                                developers face
                            </h2>
                        </a>
                        <span class="text-muted desc-artikel fw-semibold fs-5">
                            <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                               class="text-muted">UPST DLH</a>
                            • 26 Januari 2022
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row gx-4 gy-5 gy-lg-4">
                    <div class="col-lg-6">
                        <div>
                            <a href="/Articles/Detail" class="ratio ratio-16x9">
                                <img data-lazy="./assets/img/5.jpg"
                                     class="lazy rounded-4 thumbnail-fit"
                                     alt="" />
                            </a>
                            <div class="mt-2">
                                <a href="/Articles/Detail" class="text-dark text-decoration-none">
                                    <h2 class="title-artikel mb-1 fw-bolder fs-5 text-break line-clamp-2">
                                        New skills & imposter syndrome are the biggest
                                        challenges developers face
                                    </h2>
                                </a>
                                <span class="text-muted desc-artikel fw-semibold fs-6">
                                    <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                                       class="text-muted">UPST DLH</a>
                                    • 26 Januari 2022
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <a href="/Articles/Detail" class="ratio ratio-16x9">
                                <img data-lazy="./assets/img/7.jpg"
                                     class="lazy rounded-4 thumbnail-fit"
                                     alt="" />
                            </a>
                            <div class="mt-2">
                                <a href="/Articles/Detail" class="text-dark text-decoration-none">
                                    <h2 class="title-artikel mb-1 fw-bolder fs-5 text-break line-clamp-2">
                                        New skills & imposter syndrome are the biggest
                                        challenges developers face
                                    </h2>
                                </a>
                                <span class="text-muted desc-artikel fw-semibold fs-6">
                                    <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                                       class="text-muted">UPST DLH</a>
                                    • 26 Januari 2022
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <a href="/Articles/Detail" class="ratio ratio-16x9">
                                <img data-lazy="./assets/img/9.jpg"
                                     class="lazy rounded-4 thumbnail-fit"
                                     alt="" />
                            </a>
                            <div class="mt-2">
                                <a href="/Articles/Detail" class="text-dark text-decoration-none">
                                    <h2 class="title-artikel mb-1 fw-bolder fs-5 text-break line-clamp-2">
                                        New skills & imposter syndrome are the biggest
                                        challenges developers face
                                    </h2>
                                </a>
                                <span class="text-muted desc-artikel fw-semibold fs-6">
                                    <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                                       class="text-muted">UPST DLH</a>
                                    • 26 Januari 2022
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <a href="/Articles/Detail" class="ratio ratio-16x9">
                                <img data-lazy="./assets/img/10.jpg"
                                     class="lazy rounded-4 thumbnail-fit"
                                     alt="" />
                            </a>
                            <div class="mt-2">
                                <a href="/Articles/Detail" class="text-dark text-decoration-none">
                                    <h2 class="title-artikel mb-1 fw-bolder fs-5 text-break line-clamp-2">
                                        New skills & imposter syndrome are the biggest
                                        challenges developers face
                                    </h2>
                                </a>
                                <span class="text-muted desc-artikel fw-semibold fs-6">
                                    <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                                       class="text-muted">UPST DLH</a>
                                    • 26 Januari 2022
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container px-4 px-lg-3">
        <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
            <div class="d-flex align-items-center gap-2">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                        <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z" />
                        <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z" />
                    </svg>
                </span>
                <h2 class="fs-1 fw-bold">Artikel Terbaru</h2>
            </div>
            <a href="#"
               class="fs-4"
               target="_blank">Lainnya</a>
        </div>

        <div class="row gx-4 gy-5 videos-yt">
            <div class="col-md-4">
                <a href="/Articles/Detail" class="ratio ratio-16x9">
                    <img data-lazy="./assets/img/13.jpg"
                         class="lazy rounded-4 thumbnail-fit"
                         alt="" />
                </a>
                <div class="mt-3">
                    <a href="/Articles/Detail" class="text-dark text-decoration-none">
                        <h2 class="title-artikel mb-1 fw-bolder fs-4 text-break line-clamp-2">
                            New skills & imposter syndrome are the biggest challenges
                            developers face
                        </h2>
                    </a>
                    <span class="text-muted desc-artikel fw-semibold fs-6">
                        <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                           class="text-muted">UPST DLH</a>
                        • 26 Januari 2022
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <a href="/Articles/Detail" class="ratio ratio-16x9">
                    <img data-lazy="./assets/img/6.jpg"
                         class="lazy rounded-4 thumbnail-fit"
                         alt="" />
                </a>
                <div class="mt-3">
                    <a href="/Articles/Detail" class="text-dark text-decoration-none">
                        <h2 class="title-artikel mb-1 fw-bolder fs-4 text-break line-clamp-2">
                            New skills & imposter syndrome are the biggest challenges
                            developers face
                        </h2>
                    </a>
                    <span class="text-muted desc-artikel fw-semibold fs-6">
                        <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                           class="text-muted">UPST DLH</a>
                        • 26 Januari 2022
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <a href="/Articles/Detail" class="ratio ratio-16x9">
                    <img data-lazy="./assets/img/4.jpg"
                         class="lazy rounded-4 thumbnail-fit"
                         alt="" />
                </a>
                <div class="mt-3">
                    <a href="/Articles/Detail" class="text-dark text-decoration-none">
                        <h2 class="title-artikel mb-1 fw-bolder fs-4 text-break line-clamp-2">
                            New skills & imposter syndrome are the biggest challenges
                            developers face
                        </h2>
                    </a>
                    <span class="text-muted desc-artikel fw-semibold fs-6">
                        <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                           class="text-muted">UPST DLH</a>
                        • 26 Januari 2022
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <a href="/Articles/Detail" class="ratio ratio-16x9">
                    <img data-lazy="./assets/img/8.jpg"
                         class="lazy rounded-4 thumbnail-fit"
                         alt="" />
                </a>
                <div class="mt-3">
                    <a href="/Articles/Detail" class="text-dark text-decoration-none">
                        <h2 class="title-artikel mb-1 fw-bolder fs-4 text-break line-clamp-2">
                            New skills & imposter syndrome are the biggest challenges
                            developers face
                        </h2>
                    </a>
                    <span class="text-muted desc-artikel fw-semibold fs-6">
                        <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                           class="text-muted">UPST DLH</a>
                        • 26 Januari 2022
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <a href="/Articles/Detail" class="ratio ratio-16x9">
                    <img data-lazy="./assets/img/11.jpg"
                         class="lazy rounded-4 thumbnail-fit"
                         alt="" />
                </a>
                <div class="mt-3">
                    <a href="/Articles/Detail" class="text-dark text-decoration-none">
                        <h2 class="title-artikel mb-1 fw-bolder fs-4 text-break line-clamp-2">
                            New skills & imposter syndrome are the biggest challenges
                            developers face
                        </h2>
                    </a>
                    <span class="text-muted desc-artikel fw-semibold fs-6">
                        <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                           class="text-muted">UPST DLH</a>
                        • 26 Januari 2022
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <a href="/Articles/Detail" class="ratio ratio-16x9">
                    <img data-lazy="./assets/img/12.jpg"
                         class="lazy rounded-4 thumbnail-fit"
                         alt="" />
                </a>
                <div class="mt-3">
                    <a href="/Articles/Detail" class="text-dark text-decoration-none">
                        <h2 class="title-artikel mb-1 fw-bolder fs-4 text-break line-clamp-2">
                            New skills & imposter syndrome are the biggest challenges
                            developers face
                        </h2>
                    </a>
                    <span class="text-muted desc-artikel fw-semibold fs-6">
                        <a href="https://www.youtube.com/&commat;commat;unitpengelolasampahterpadu707"
                           class="text-muted">UPST DLH</a>
                        • 26 Januari 2022
                    </span>
                </div>
            </div>
        </div>
    </section>
</main>




@section scripts{
    <script>
        // Navbar solid when scroll down
        document.querySelector("nav").classList.add("bg-white");
        document.querySelector("ul.navbar-nav").classList.remove("nav-text-white");

        window.addEventListener("scroll", () => {
            if (window.scrollY > 80) {
                document.querySelector("nav").classList.add("shadow");
            } else {
                document.querySelector("nav").classList.remove("shadow");
            }
        });
    </script>
}