@{
    ViewData["Title"] = "Mekanisme - ITF";
    ViewBag.Menu = "Pengelolaan Sampah";
    ViewBag.SubMenu = "JRC";
    ViewBag.SubMenuNd = "JRCMekanisme";
}

<main class="container w-blog pb-5" style="padding-top: 120px">
    <section>
        <h1 class="fw-bold text-center title-page">@ViewData["Title"]</h1>
    </section>
    <section class="content px-2 px-lg-3 py-5">
        <div class="row justify-content-center">
            <div class="col">
                <h3 class="fs-2">Pengelompokan Sampah</h3>
                <img data-lazy="/assets/img/pengolah-sampah/jrc/pengelompokan_sampah.jpg" class="lazy w-100 mb-5 rounded-lg" alt="Sistem Pengolahan Sampah" />
                <h3 class="fs-2">Pola Pengangkutan Sampah Organik</h3>
                <img data-lazy="/assets/img/pengolah-sampah/jrc/pola_pengankutan_sampah_organik.jpg" class="lazy w-100 mb-5 rounded-lg" alt="Sistem Pengolahan Sampah" />
                <h3 class="fs-2">Pola Pengangkutan Sampah Anorganik</h3>
                <img data-lazy="/assets/img/pengolah-sampah/jrc/pola_pengankutan_sampah_anorganik.jpg" class="lazy w-100 mb-5 rounded-lg" alt="Sistem Pengolahan Sampah" />
                <h3 class="fs-2">Jadwal Pengankutan JRC</h3>
                <img data-lazy="/assets/img/pengolah-sampah/jrc/jadwal_pengangkutan_jrc.jpg" class="lazy w-100 mb-5 rounded-lg" alt="Sistem Pengolahan Sampah" />
            </div>
        </div>
    </section>
</main>




@section scripts{
    <script>

        // Navbar solid when scroll down
        document.querySelector("nav").classList.add("bg-white");
        document.querySelector("ul.navbar-nav").classList.remove("nav-text-white");

        // Navbar solid when scroll down
        window.addEventListener("scroll", () => {
            if (window.scrollY > 80) {
                document.querySelector("nav").classList.add("shadow");
            } else {
                document.querySelector("nav").classList.remove("shadow");
            }
        });
    </script>
}