<footer class="container-fluid border-2 border-top py-4 bg-white">
    <div class="container">
        <div class="row gap-4 gap-md-0 py-4">
            <div class="col-md-4">
                <div class="h-100 mb-5">
                    <img data-lazy="/assets/img/logo-upst.png"
                         class="lazy"
                         alt="Logo UPST"
                         width="125px"
                         height="auto" />
                    <h3 class="fs-6 mt-4">Unit Pengelola Sampah Terpadu</h3>
                    <h3 class="fs-6">Dinas Lingkungan Hidup Provinsi DKI Jakarta</h3>
                    <p class="mt-3">
                        Jl. Mandala V No.67, RT.1/RW.2, Cililitan, Kec. Kramat jati,
                        Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13640
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row gap-4 gap-md-0">
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <ul class="d-flex flex-column gap-2 list-unstyled fw-medium">
                            <li class="fw-bold">TPST Bantargebang</li>
                            <li> <a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="TPSTRingkasan">Ringkasan</a></li>
                            <li><a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="TPSTData">Data</a></li>
                            <li><a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="TPSTFAQ">FAQ</a></li>
                        </ul>
                        <ul class="d-flex flex-column gap-2 list-unstyled fw-medium mt-4">
                            <li class="fw-bold">Pengelolaan Sampah</li>
                            <li><a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="PKMRingkasan">Ringkasan</a></li>
                            <li><a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="PKMData">Data</a></li>
                            <li><a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="PKMFAQ">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="d-flex flex-column gap-2 list-unstyled fw-medium">
                            <li class="fw-bold">ITF</li>
                            <li><a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="ITFRingkasan">Ringkasan</a></li>
                            <li><a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="ITFData">Data</a></li>
                            <li><a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="ITFFAQ">FAQ</a></li>
                        </ul>
                        <ul class="d-flex flex-column gap-2 list-unstyled fw-medium mt-4">
                            <li class="fw-bold">JRC</li>
                            <li><a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="JRCRingkasan">Ringkasan</a></li>
                            <li><a class="text-decoration-none text-dark" asp-controller="PengelolaanSampah" asp-action="JRCMekanisme">Mekanisma</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center flex-column-reverse flex-md-row my-3">
            <div class="fw-semibold text-center">
                ©2023 Unit Pengelola Sampah Terpadu
            </div>
            <ul class="d-flex justify-content-center gap-4 list-unstyled">
                <li>
                    <a href="https://www.instagram.com/upst.dlh/" target="_blank">
                        <img data-lazy="/assets/img/social-medias/ig.png" class="lazy" width="32" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/UPSTDinasLH" target="_blank">
                        <img data-lazy="/assets/img/social-medias/fb.png" class="lazy" width="32" />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/UPST_DLH" target="_blank">
                        <img data-lazy="/assets/img/social-medias/tw.png" class="lazy" width="32" />
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCJdhhKZejU6CnBa1l33DHpw"
                       target="_blank">
                        <img data-lazy="/assets/img/social-medias/yt.png" class="lazy" width="32" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>